{
  "extends": "airbnb",
  "rules": {
    "import/extensions": "never",
    "linebreak-style": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      {
        "code": 200
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ],
        "paths": [
          "./src"
        ]
      }
    }
  },
  "env": {
    "jest": true
  }
}